doctype html
html
  head
    link(rel='stylesheet', href='/css/SWMPClientStyles.css', type='text/css')  
    script(src='/js/jquery-3.2.0.min.js')
    script(src='/js/SWMPMultiplayer.js')
    script.
      var apiUrl="#{apiUrl}"; 
      window.onload = function(){
        laadDataInHtml(!{JSON.stringify(games)});
      }
  body
    div(id="multiplayerWrapper")
<<<<<<< HEAD:minesweeper/views/SWMPMultiplayer.pug
      div(id="map")
        div(id="spawnPlaatsMarker")
=======
      div(id="multiplayerMap")
>>>>>>> 9c380b0f21e5b6ac023f577317d2d3f20f0a32c0:minesweeper/minesweeper/views/SWMPMultiplayer.pug
