// Include centered columns


// Avoid horizontal scrollbars on card flip;
html, body {
    overflow-x: hidden;
}

/* Noise background and radial gradient (lighting) */
body {
    background: url('../img/bg_dark_noise.png'), radial-gradient(8% 77%, #FFFFFF 0%, #000000 82%) no-repeat center center !important;
    background-size: cover !important;
    overflow: auto;
    min-height: 100vh;
}

/* Alley background, comes on top of the (transparent) noise background */
#container {
    // padding-bottom: 5vh;
    background: url('../img/bg_alley.png'), url('../img/newspaper_hush.png'), url('../img/wanted_poster.png');
    background-size: cover contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center, top left, bottom right;
}

/* Big introduction paragraph at top of the page */
.introduction {
    font-family: 'Purple Purse', cursive;
    font-size: rem-calc(48);
    color: #D4D4D2;
    line-height: rem-calc(60);
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(79);
    
    @include breakpoint(medium only) {
        font-size: rem-calc(40);
    }
    
    @include breakpoint(small down) {
        font-size: rem-calc(34);
    }
}

/* Content frame in the center of the page */
#content-frame {
    margin: 0 0 rem-calc(50) 0;
    padding: 0;
    border: none;
    
    
    transform: skewX(-15deg);
    
    
    //background: rgba(66, 66, 66, .3);
    // box-sizing: content-box;
    border-radius: rem-calc(74);
    box-shadow: 20px 20px 60px 12px rgba(0,0,0,0.90);
    
     @include breakpoint(small down) {
        transform: none;
        border-radius: 0;
        padding: 0;
    }
}

#content-area {
    font-family: 'Averia Sans Libre';
    border-radius: rem-calc(74);

    
    box-shadow: inset 10px 10px 15px rgba(0,0,0,0.3);

    color: #000;
    
    /* Rectangle: */
    background: rgba(255, 255, 255, 0.7);
    min-height: rem-calc(282);
    padding-bottom: rem-calc(42);
    
     
    @include breakpoint(small down) {
        transform: none;
        border-radius: 0;
        box-shadow: none;
    }
}

.title {
    font-size: rem-calc(36);
    color: #897860;
    transform: skewX(15deg);
    
    @include breakpoint(small down) {
        transform: none;
        font-size: rem-calc(24);
    }
    
    padding-top: rem-calc(33);
    margin-bottom: rem-calc(19);
    margin-left: rem-calc(-74);
        
   @include breakpoint(medium only) {
        font-size: rem-calc(32);
    }
    @include breakpoint(small down) {
        margin-left: rem-calc(0);
    }
     
}

.description {
    font-size: rem-calc(28);
    transform: skewX(15deg);
    margin-bottom: rem-calc(35);
    
    @include breakpoint(medium only) {
        font-size: rem-calc(24);
        padding: 0 rem-calc(40);
    }
    
    @include breakpoint(small down) {
        transform: none;
         font-size: rem-calc(20);
    }
    
}

.membership {    
    font-family: "Purple Purse", cursive;
    font-size: rem-calc(24);
    color: #A74E4E;
    transform: skewX(15deg);
    margin-bottom: rem-calc(24);
    margin-left: rem-calc(-74);
    
    @include breakpoint(medium only) {
         margin-left: 0;
    }
    
     @include breakpoint(small down) {
        transform: none;
         margin-left: 0;
    }
    
}

#section-card {
    transform: skewX(15deg);
     @include breakpoint(small down) {
        transform: none;
    }
}



#card {
    position: relative;
    
}

@include breakpoint(small down) {
    #card-name {
        margin-top: rem-calc(35);
    }
}

.member-name {
    position: absolute;
    top: 50%;
    width: rem-calc(345);
    left: 50%;
    margin-left: rem-calc(-10);
    transform: translateX(-50%);
    
    margin-top: rem-calc(15);
    font-size: rem-calc(16);
    font-weight: bold;
    
    
        a {
            color: #F56F6F;
            border-bottom: 1px dashed #F56F6F;
            
            &:hover {
                border: none;
                color: #F56F6F;
            }
        }
    }

#door-window {
    position: relative;
    padding-top: rem-calc(34);
    bottom: 0;
    left: 0;
    
     @include breakpoint(small down) {
       padding-top: rem-calc(14);
       padding-bottom: rem-calc(14);
       margin: 0 auto;
       width: 70%;
    }
    
}

.door-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    
   
//    position: absolute;
//    left: 10%;
//    top: 40%;
//    transform: translateX(-50%);
    max-width: rem-calc(190);
    
    @include breakpoint(small down) {
        top: 20%;
        max-width: rem-calc(191);
    }
    
    padding: rem-calc(20);
    
    a {
        font-family: 'Purple Purse';
        font-size: rem-calc(28);
        color: #ffffff;
        text-shadow: 4px 4px 6px rgba(0,0,0,0.50);    
        border-bottom: 1px solid #ffffff;
        text-align: center;
        
        &:hover {
            color: #ffffff;
            text-shadow: 4px 4px 6px rgba(0,0,0,0.75); 
            border: none;
        }
    }
}

.window-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    
    @include breakpoint(small down) {
        position: relative;
        padding-bottom: rem-calc(160)
    }
    
//    position: absolute;
//    left: 10%;
//    top: 40%;
//    transform: translateX(-50%);
    max-width: rem-calc(300);
    padding: rem-calc(10) 0;
    
    a {
        font-family: 'Purple Purse';
        font-size: rem-calc(28);
        color: #ffffff;
        text-shadow: 4px 4px 6px rgba(0,0,0,0.50);    
        border-bottom: 1px solid #ffffff;
        text-align: center;
        
        &:hover {
            color: #ffffff;
             text-shadow: 4px 4px 6px rgba(255,255,255,0.75); 
             border: none;
        }
    }
}

 @include breakpoint(small down) {
    .door {
    margin-bottom: rem-calc(20);
    }
}

.window {
    box-shadow: 4px 4px 33px 0 rgba(124,108,108,0.50);
}

/* Modal Styling */
.reveal {
    color: #333;
    
    background: url('../img/member_card_modal.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 928px !important;
    height: 672px !important;
    
    @include breakpoint(medium only) {
        width: 660px !important;
        height: 480px !important;
    }
    
    @include breakpoint(small down) {
        width: 320px !important;
        height: 360px !important;
        margin: 0 auto !important;
        background-size: contain;
    }
    
    border: 4px red;
    border-radius: 12px !important;
    
    .skills-header {
        font-family: 'Purple Purse';
        color: #4C3118;
        font-size: rem-calc(40);
        line-height: 1em;
        margin-top: rem-calc(100);  
        
        @include breakpoint(medium only) {
          margin-top: rem-calc(35);
          margin-bottom: 0;
          font-size: rem-calc(40);
        }
        
        @include breakpoint(small down) {
            font-size: rem-calc(28);
             margin-top: rem-calc(10);
        }
        
    }
  
    .skills-left, .skills-right {  
        list-style: none;
        font-family: 'Purple Purse';
        font-size: rem-calc(28);
        color: #4C3118;
        line-height: rem-calc(50);
        margin-top: rem-calc(40);
        
        @include breakpoint(medium down) {
          margin-top: rem-calc(5);
          font-size: rem-calc(16);
        }
        
         @include breakpoint(small down) {
           line-height: rem-calc(25);
        }
 

    }
    
    h2 {
        font-family: 'Purple Purse';
        font-size: 36px;
        color: #F56F6F;
        
        @include breakpoint(medium only) {
          font-size: rem-calc(24);
          margin-bottom: 0;
            
        }
         
    }
    
    h3 {
        font-family: 'Purple Purse';
        @include breakpoint(small down) { 
                text-align: center;
            }
        
        a {
            font-size: rem-calc(36);
            color: #615747;
            border-bottom: 1px solid #615747;
            
            @include breakpoint(medium only) {
              font-size: rem-calc(20);
              vertical-align: text-top;
            }
            @include breakpoint(small down) { 
                font-size: rem-calc(18);
            }
            
            
            &:hover {
                border-bottom: none;
            }
        }
        
    }
    
}

// Styles for card flip

#card-img {
  animation-duration: 1.5s;
}
